<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ychat"
        tools:targetApi="31">
        <activity
            android:name=".activities.ConversationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.UserActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".activities.UpdateProfile"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Ychat" />
        <activity
            android:name=".activities.Splash"
            android:exported="true"
            android:turnScreenOn="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".notificationUtil.MessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.VerifyOTPActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>